/* style.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

div {
    margin: 10px 0;
}

input {
    padding: 5px;
    margin-right: 5px;
}

button {
    padding: 5px;
    cursor: pointer;
}

#hash-table,
#binary-search-result,
#bubble-sort-result,
#ternary-search-result #linear-search-result {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

svg {
    width: 100%;
    height: 300px;
}


/* Add styles for original bars and labels */

.original-bar {
    fill: blue;
}

.original-label {
    fill: rgb(84, 42, 42);
    font-size: 12px;
}


/* Add styles for sorted bars and labels */

.sorted-bar {
    fill: green;
}

.sorted-label {
    fill: rgb(125, 75, 75);
    font-size: 12px;
}